body {
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 150vh;
    min-width:fit-content;
    background-image: conic-gradient(rgb(61, 8, 194), rgb(36, 61, 72), rgb(103, 235, 21));

  }
.box{
    box-shadow: 10px 10px;
    font-family: sans-serif;
    
    
  }
  button{
    color:blue;
   margin:10px;
   
}
h1{
    color: blueviolet;
}
form{
    background-color: cyan;
}
ol{
    cursor: pointer;
    width:auto;
    background-color: chartreuse;
    box-shadow: 10px 10px 5px 12px;
    margin: 0px;
    
}